.container {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: auto;
}

.container img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.numbers {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
}

.active {
  color: #f16a22;
}

@media (max-width: 1280px) {
  .container {
    gap: 21px;
  }

  .container img {
    height: 31px;
    width: 31px;
  }

  .numbers {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .container {
    gap: 17px;
  }

  .container img {
    height: 25px;
    width: 25px;
  }

  .numbers {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .container {
    gap: 13px;
  }

  .container img {
    height: 19px;
    width: 19px;
  }

  .numbers {
    font-size: 10px;
  }
}
