.heroContainer {
  height: 378px;
  padding: 0 80px;
  background-color: #dadafd80;
}

.heroTextContainer {
  margin-top: 77px;
}

.title {
  font-weight: 900;
  font-size: 64px;
  color: #181e4b;
  margin: 0;
}

.text {
  font-size: 24px;
  margin-top: 16px;
}

@media (max-width: 1280px) {
  .heroContainer {
    height: 350px;
    padding: 0 71px;
  }

  .heroTextContainer {
    margin-top: 68px;
  }

  .title {
    font-size: 57px;
  }
  .text {
    font-size: 21px;
    margin-top: 14px;
  }
}

@media (max-width: 1024px) {
  .heroContainer {
    height: 280px;
    padding: 0 57px;
  }

  .heroTextContainer {
    margin-top: 40px;
  }

  .title {
    font-size: 46px;
  }
  .text {
    font-size: 17px;
    margin-top: 11px;
  }
}

@media (max-width: 768px) {
  .heroContainer {
    height: 220px;
    padding: 0 43px;
  }

  .heroTextContainer {
    margin-top: 30px;
  }

  .title {
    font-size: 34px;
  }
  .text {
    font-size: 13px;
    margin-top: 9px;
  }
}
