.listContainer {
  color: white;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 60%;
  background-color: #f6a321;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  border-bottom: 2px solid white;
  box-shadow: 0 0 20px white;
}

.listItem {
  list-style: none;
  font-size: 28px;
}

.active {
  font-weight: 900;
}

.logo {
  height: auto;
  width: 166px;
}

@media (min-width: 768px) {
  .wrapper {
    display: none;
  }
}
