.newsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 80px 42px;
}

@media (max-width: 1280px) {
  .newsContainer {
    gap: 21px;
    padding: 43px 71px 37px;
  }
}

@media (max-width: 1024px) {
  .newsContainer {
    gap: 17px;
    padding: 34px 57px 30px;
  }
}

@media (max-width: 768px) {
  .newsContainer {
    gap: 13px;
    padding: 26px 43px 22px;
  }
}
